.text-main-original {
  color: #3423E6; }

.bg-main-original {
  background-color: #3423E6; }

.text-main-100 {
  color: #E6E6FF; }

.bg-main-100 {
  background-color: #E6E6FF; }

.text-main-200 {
  color: #C4C6FE; }

.bg-main-200 {
  background-color: #C4C6FE; }

.text-main-300 {
  color: #A0A4FC; }

.bg-main-300 {
  background-color: #A0A4FC; }

.text-main-400 {
  color: #8888FC; }

.bg-main-400 {
  background-color: #8888FC; }

.text-main-500 {
  color: #7068F9; }

.bg-main-500 {
  background-color: #7068F9; }

.text-main-600 {
  color: #5D54F9; }

.bg-main-600 {
  background-color: #5D54F9; }

.text-main-700 {
  color: #4D3DF7; }

.bg-main-700 {
  background-color: #4D3DF7; }

.text-main-800 {
  color: #1D18BD; }

.bg-main-800 {
  background-color: #1D18BD; }

.text-main-900 {
  color: #0A0E8A; }

.bg-main-900 {
  background-color: #0A0E8A; }

.text-gray-100 {
  color: #f5f5f5; }

.bg-gray-100 {
  background-color: #f5f5f5; }

.text-gray-200 {
  color: #eeeeee; }

.bg-gray-200 {
  background-color: #eeeeee; }

.text-gray-300 {
  color: #e0e0e0; }

.bg-gray-300 {
  background-color: #e0e0e0; }

.text-gray-400 {
  color: #bdbdbd; }

.bg-gray-400 {
  background-color: #bdbdbd; }

.text-gray-500 {
  color: #9e9e9e; }

.bg-gray-500 {
  background-color: #9e9e9e; }

.text-gray-600 {
  color: #757575; }

.bg-gray-600 {
  background-color: #757575; }

.text-gray-700 {
  color: #616161; }

.bg-gray-700 {
  background-color: #616161; }

.text-gray-800 {
  color: #424242; }

.bg-gray-800 {
  background-color: #424242; }

.text-gray-900 {
  color: #212121; }

.bg-gray-900 {
  background-color: #212121; }

h1, h2, h3, h4, h5, h6, p, small {
  margin: 0;
  padding: 0; }

.my-container {
  margin: 0 5%;
  padding: 10px 0; }

.text-regular {
  font-weight: 400; }

.text-light {
  font-weight: 300; }

.text-medium {
  font-weight: 600; }

.text-bold {
  font-weight: 700; }

.sp {
  display: block; }

.sp10 {
  height: 10px; }

.sp20 {
  height: 20px; }

.sp30 {
  height: 30px; }

.sp50 {
  height: 50px; }

.sp100 {
  height: 100px; }

.bg-white {
  background-color: white; }

.btn {
  padding: .85rem 1.25rem;
  cursor: pointer;
  transition: all .2s ease;
  outline: none;
  border-radius: 3px; }
  .btn.btn-primary {
    background-color: #3423E6;
    color: white;
    border: none; }
  .btn.btn-secondary {
    background-color: transparent;
    border: 1px solid #3423E6;
    color: #3423E6; }
    .btn.btn-secondary:hover {
      color: white;
      background-color: #3423E6; }
    .btn.btn-secondary:focus {
      box-shadow: 0 0 0 0.2rem rgba(52, 35, 230, 0.4); }

.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .list li {
    font-size: 1.1rem; }
    .list li:not(:last-child) {
      margin-bottom: 2rem; }

@media only screen and (max-width: 768px) {
  .hidden-sm {
    display: none !important; } }

.text-sm {
  font-size: 12px; }

.text-regular {
  font-size: 14px; }

.text-md {
  font-size: 0.975rem; }

.text-lg {
  font-size: 20px; }

.text-xlg {
  font-size: 24px; }

.text-bold {
  font-weight: bold; }

.text-light {
  font-weight: 300; }

.text-regular {
  font-weight: 400; }

.text-medium {
  font-weight: 600; }

.text-uppercase {
  text-transform: uppercase; }

.text-white {
  color: white; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter, sans-serif;
  font-size: 14px;
  line-height: 1.5; }

.my-container {
  margin: 0 5%;
  padding: 10px 0; }

.overflow-x-hidden {
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #1b1818; }

.overflow-hidden {
  overflow: hidden; }

.nav-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  z-index: 23; }
  .nav-area .logo {
    width: 140px;
    margin: 0;
    padding: 10px 0; }
  .nav-area .menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
    padding: 10px 0;
    z-index: 99; }
    .nav-area .menu-wrapper nav ul.lg-nav {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0; }
      .nav-area .menu-wrapper nav ul.lg-nav li a {
        font-size: 14px;
        color: white; }
      .nav-area .menu-wrapper nav ul.lg-nav li:not(:last-child) {
        margin-right: 30px; }

.nav-area.animate {
  top: -91px; }

.nav-area.sticky {
  top: 0; }

.nav-area.animate.sticky {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: #10141d; }

h2 {
  text-align: center;
  margin: 30px 0px; }

.blue-line {
  height: 0.475rem;
  background-color: #3423E6;
  width: 5rem; }

.text-right {
  text-align: right; }

.footer {
  background-color: #212121;
  color: white; }
  .footer a {
    color: #bdbdbd; }

.text-center {
  text-align: center; }

.burger {
  display: none;
  visibility: hidden; }

.border-bottom {
  border-bottom: 1px solid #424242; }

@media only screen and (max-width: 768px) {
  .burger {
    background-color: transparent;
    display: flex;
    visibility: visible;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 6px;
    border-radius: 2px;
    border: 1px solid #616161; }
    .burger li {
      border-radius: 2px;
      display: block;
      background-color: white;
      height: 2px;
      width: 17px; }
      .burger li:not(:last-child) {
        margin-bottom: 3px; }
  .lg-nav {
    flex-direction: column;
    position: absolute;
    width: 100%;
    right: 0;
    top: 64px;
    background-color: #10141d;
    align-items: flex-start !important;
    transform: translateY(-127%);
    z-index: -1;
    transition: all 0.2s ease; }
    .lg-nav.active {
      transform: translateY(-1px); }
    .lg-nav li {
      margin: 0 !important;
      width: 100%; }
      .lg-nav li a {
        display: block;
        width: 100%;
        padding: 20px;
        font-size: 14px !important; } }

[data-aos="line-animation"] {
  width: 1rem;
  transition-property: width; }
  [data-aos="line-animation"].aos-animate {
    width: 5rem; }
