.header {
    background-image: url(../../assets/final/back2.jpg);
    &-text {
        font-size: 36px;
        position: relative;
    }
    &-paragraph {
        font-size: 14px;
        margin-top: 20px;
        padding: 0 40px;
    }
    div, p {
        text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    }

}

.sub-header {
    background-image: url(../../assets/final/facts-2.jpg);
    background-size: cover;
    background-position: center;
}