$main-color: (
    original: #3423E6,
    100: #E6E6FF,
    200: #C4C6FE,
    300: #A0A4FC,
    400: #8888FC,
    500: #7068F9,
    600: #5D54F9,
    700: #4D3DF7,
    800: #1D18BD,
    900: #0A0E8A
);

$color-gray: (
    "100": #F5F7FA,
    "200": #E4E7EB,
    "300": #CBD2D9,
    "400": #9AA5B1,
    "500": #7B8794,
    "600": #616E7C,
    "700": #52606D,
    "800": #3E4C59,
    "900": #323F4B,
    "1000": #1F2933,
);

@each $key, $value in $main-color {
    .text-main-#{$key} {
      color: $value;
    }
    .bg-main-#{$key} {
        background-color: $value;
    }
}

@each $key, $value in $color-gray {
    .text-gray-#{$key} {
      color: $value;
    }
    .bg-gray-#{$key} {
        background-color: $value !important;
    }
}