$main-color: (
    original: #3423E6,
    100: #E6E6FF,
    200: #C4C6FE,
    300: #A0A4FC,
    400: #8888FC,
    500: #7068F9,
    600: #5D54F9,
    700: #4D3DF7,
    800: #1D18BD,
    900: #0A0E8A
);

$color-gray: (
    "100": #F0F4F8,
    "200": #D9E2EC,
    "300": #BCCCDC,
    "400": #9FB3C8,
    "500": #829AB1,
    "600": #627D98,
    "700": #486581,
    "800": #334E68,
    "900": #243B53,
    "1000": #102A43,
);

@each $key, $value in $main-color {
    .text-main-#{$key} {
      color: $value;
    }
    .bg-main-#{$key} {
        background-color: $value;
    }
}

@each $key, $value in $color-gray {
    .text-gray-#{$key} {
      color: $value;
    }
    .bg-gray-#{$key} {
        background-color: $value !important;
    }
}