h1, h2, h3, h4, h5, h6, p, small {
    margin: 0;
    padding: 0;
}

.my-container {
    margin: 0 5%;
    padding: 10px 0;
}

.text-regular {
    font-weight: 400;
}

.text-light {
    font-weight: 300;
}

.text-medium {
    font-weight: 600;
}

.text-bold {
    font-weight: 700;
}

.sp {
    display: block;
}
.sp {
    &10 { height: 10px; }
    &20 { height: 20px; }
    &30 { height: 30px; }
    &50 { height: 50px; }
    &100 { height: 100px; }
}

.bg-white {
    background-color: white;
}

.btn {
    padding: 16px 32px;
    cursor: pointer;
    transition: all .2s ease;
    outline: none;
    &.btn-secondary {
        background-color: transparent;
        border: 1px solid map-get($map: $main-color, $key: original);
        color: map-get($map: $main-color, $key: original);
        border-radius: 5rem;
        &:hover {
            color: white;
            background-color: map-get($map: $main-color, $key: original);
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($color: map-get($map: $main-color, $key: original), $alpha: .4);
        }
    }
}

.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}

@media only screen and (max-width : 768px) {
    .hidden-sm {
        display: none;
    }
}