$main-font: inter, sans-serif;
$main-font-size: 14px;

.text-sm {
    font-size: 12px;
}

.text-regular {
    font-size: $main-font-size;
}

.text-md {
    font-size: 16px;
}

.text-lg {
    font-size: 20px;
}

.text-xlg {
    font-size: 24px;
}

.text-bold {
    font-weight: bold;
}

.text-light {
    font-weight: 300;
}

.text-regular {
    font-weight: 400;
}

.text-medium {
    font-weight: 600;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-white {
    color: white;
}