@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

$main-font: inter, sans-serif;

.text-sm {
    font-size: 1.4rem;
}

.text-regular {
    font-size: 1.6rem;
}

.text-md {
    font-size: 1.8rem;
}

.text-lg {
    font-size: 2rem;
}

.text-xlg {
    font-size: 2.4rem;
}