@import "colors";
@import "global";
@import "typography";
@import "swiper";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter, sans-serif;
  font-size: 16px;
}

.my-container {
  margin: 0 5%;
  padding: 10px 0;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
  padding: 10px 0;
}

nav {
  ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
          a {
              font-size: 16px;
              color: white;
          }
          &:not(:last-child) {
              margin-right: 30px;
          }
      }
  }
}
.logo {
  margin: 0;
  padding: 15px;
}

a {
  text-decoration: none;
  color: rgb(27, 24, 24);
}

.nav-area {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: top .6s, background-color .4s;
  box-sizing: border-box;
  background-color: transparent;
  color: rgb(255, 255, 255);
  z-index: 23;
}

.nav-area.animate {
  top: -91px;
}
.nav-area.sticky {
  top: 0;
}

.nav-area.animate.sticky {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba($color: rgb(0, 0, 0), $alpha: .5);
}

h2 {
  text-align: center;
  margin: 30px 0px;
}

.blue-line {
  height: 5px;
  background-color: map-get($map: $main-color, $key: original);
  width: 100px;
}
