html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    font-size: 1.6rem;
}
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.nav-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: top .6s;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
    padding: 10px 0;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li:not(:last-child) {
    margin-right: 30px;
}

.banner-area {
    height: 100vh;
    background-image: url("https://wallpapercave.com/wp/wp3904400.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    .banner-text {
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 5rem;
        text-shadow: 0 0 10px black;
        animation-name: animate;
        animation-duration: 1s;
        &-sm {
            margin-top: 3rem;
            margin-bottom: 10rem;
            font-size: 2rem;
            color: white;
            text-shadow: 0 0 10px black;
            animation-name: animate-down;
            animation-duration: 1s;
        }
    }
}

.main-text {
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}

.nav-area.animate {
    top: -91px;
}

.nav-area.sticky {
    top: 0;
    z-index: 99;
}

.video-part {
    background-image: url("https://images.unsplash.com/photo-1588392382834-a891154bca4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80");
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    .video-text {
        font-size: 3rem;
        &-sm {
            margin-top: 1rem;
            margin-bottom: 1.4rem;
        }
    }
    .watch-video {
        padding: 1rem 3rem;
        background-color: transparent;
        border-radius: 3px;
        border: 1px solid white;
        color: white;
        cursor: pointer;
        transition: all .2s ease;
        &:hover {
            background-color: white;
            color: black;
        }
    }
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translateY(-2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate-down {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}