.header {
    background: url(../../../assets/final/facts.jpg);
    // margin-top: 66px;
    height: 100vh;
    display: flex;
    align-items: center;
    align-items: flex-start;
    flex-direction: column;

    &-text {
        font-size: calc(20px + 2vw);
        font-weight: bold;
    }

    &-paragraph {
        font-size: calc(2px + 1.5vw);
        max-width: 40ch;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "top-image top-image top-image top-image"
      "left left right right";
      .item {
          height: 200px;
      }
      img {
          height: 100%;
      }
}
.top-image { grid-area: top-image; }
.left { grid-area: left; }
.right { grid-area: right; }