.header {
    height: calc(100vh - 56px);
    background-image: url(../../assets/final/back2.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-text {
        font-size: 40px;
        position: relative;
    }
    &-paragraph {
        font-size: 16px;
        margin-top: 20px;
        padding: 0 40px;
    }
    div, p {
        text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
    }
}
