.header {
  height: 100vh;
  background-image: url(../../assets/final/facts.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .header-text {
    font-size: 40px;
    font-weight: 600;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center; }
  .header-paragraph {
    font-size: 17px; }
  .header div, .header p {
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5); }

.sub-header {
  background-image: url(../../assets/final/facts2.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative; }
